target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.log
*.iml
.idea/
*.ipr
*.iws
out/
.vscode/
.settings/
.classpath
.project
.DS_Store
*.env
.env
.env.secret
kubernetes/base/.env.secret
kubernetes/base/jwt-signing-key.pem
credenciais/
ollama-data/
postgres-data/
